---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get
- apiGroups:
  - diagnostic.sre.example.com
  resources:
  - poddiagnoses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - diagnostic.sre.example.com
  resources:
  - poddiagnoses/finalizers
  verbs:
  - update
- apiGroups:
  - diagnostic.sre.example.com
  resources:
  - poddiagnoses/status
  verbs:
  - get
  - patch
  - update
